# ==================================================
# --- Folders
# ==================================================

# ==================================================
# IntelliJ

/.idea/

# ==================================================
# Maven

/target/

# ==================================================
# Node/NPM

/node_modules/

# ==================================================
# Vaadin

/VAADIN/

# ==================================================
# --- Files
# ==================================================

# ==================================================
# IntelliJ

/*.iml

# ==================================================
# Node/NPM

/package.json
/package-lock.json

/webpack.config.js
/webpack.generated.js

# ==================================================
# Vaadin

**/*.generated.js

# ==================================================
# CSS

**/*.css
**/*.css.map

# ==================================================
# JRebel

**/rebel.xml
